html,
body {
  height: 100%;
}

.navbar-brand {
  .img-responsive {
    margin-top: -5px;
    display: inline-block;
    max-width: 32px;
  }
}

.route-control,
.stop-control {
  margin-bottom: 20px;
}

.panel-heading {
  z-index: 0;
}

.panel {
  position: relative;

  .close {
    float: left;
    margin-right: 10px;
  }
}

.stop[data-editing] {
  .close {
    transform: rotate(180deg);
  }
}

.trip-time {
  vertical-align: middle !important;
}

.built-in-boston {
  float: left;

  img {
    height: 32px;
  }
}
