{{#stop_name}}
<div class="panel {{ panel_class }}">
  <div class="panel-heading">
    <h4>
      <button class="close btn-edit">&#9660;</button>
      {{stop_name}}
    </h4>
  </div>

  {{^editing}}
  <table class="trips table" summary="List of current trips out of {{ stop_name }}">
    {{>trips}}
  </table>

  {{#alerts}}
  <div class="panel-footer">
    {{>alerts}}
  </div>
  {{/alerts}}
  {{/editing}}

  {{#editing}}
  <div class="edit">
    <div class="panel-body">
      <label for="route-control">Currently tracked routes:</label>
      <div class="route-control">
        Loading routes...
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-danger btn-block btn-delete">Delete</button>
    </div>
  </div>
  {{/editing}}
</div>
{{/stop_name}}
