<tr class="trip" title="{{trip_name}}">
  <td class="trip-time">
    <h4>
      {{#predicted_arrival}}
      {{predicted_arrival}}
      {{/predicted_arrival}}
      {{^predicted_arrival}}
      {{scheduled_arrival}} (sch)
      {{/predicted_arrival}}
    </h4>
  </td>
  <td class="text-right small trip-time">
    <strong>{{ route_name }}</strong>{{#trip_headsign}}<br>
    {{ trip_headsign }}
    {{/trip_headsign}}
  </td>
</tr>
